:root{
    --primary-color: #394a6d;
    --dark-green: #3c9d9b;
    --green: #52de97;
    --light-green: #c0ffb3;
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.footer-link{
    font-size: 20px;
    text-decoration: none;
    color: var(--dark-green);
    padding-top: 100px;
}

.copyright{
    color: var(--primary-color);
}

.contact-me{
    padding-top: 80px;
    padding-bottom: 150px;
}

.top-container {
    height: 600px;
    background-color: #c0ffb3
}

.bottom-container{
    padding-top: 30px;
    text-align: center;
    height: 200px;
    background-color: #c0ffb3
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}

h1, h2, h3  {
    font-family: 'Loved by the King', cursive;
    font-weight: 700;
    color: #3c9d9b;
}

p{
    color: #394a6d;
}

.cloud-wrapper {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.GIT{
    font-size: 3rem;
}

.GIT-text{
    font-size: 2rem;
}

.mountain {
    position: absolute;
    bottom: 0;
    left: 0;
}

span {
    text-decoration: underline;
}

.middle-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.profile {
    padding-bottom: 3rem;
}

.profile img {
    width: 100px;
    padding: 2rem 0;
}

.profile h2 {
    font-size: 3rem;
}

.skills h2 {
    font-size: 3rem;
}

.skills h3 {
    font-size: 2.5rem;
    margin: 0;
}
.skills-image1 {
    width: 150px;
    float: left;
    margin-right: 3rem;
}

.skills-image2{
    width: 150px;
    float: right;
    margin-right: 3rem;
    display: block;
    margin-top: 3rem;
}

.skills-row {
    text-align: left;
    margin-bottom: 2rem;
}

.cloud1{
    left: 10%;
    top: 30%;
    position: absolute;
    animation-name: cloud1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.cloud2{
    right: 10%;
    top: 10%;
    position: absolute;
    animation-name: cloud2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.cloud3{
    right: 15%;
    top: 45%;
    position: absolute;
    animation-name: cloud3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes cloud1{
    0%{left: 100px}
    50%{left: 250px;}
    100%{top: 100px}
    }

@keyframes cloud2{
    0%{right: 50px}
    50%{right: 100px;}
    100%{top: 100px}
    }

@keyframes cloud3{
    0%{right: 50px}
    50%{right: 200px;}
    100%{top: 250px}
    }